<div class="activities">
    <div class="activities__header">
        <h2>About</h2>
    </div>
    <div class="activities__box">
        Welcome to QueryXchange, your one-stop destination for answers to all your questions! We're dedicated to connecting curious minds with accurate, insightful responses. Whether you're seeking practical solutions, expert advice, or exploring new ideas, QueryXchange is the community-driven platform where knowledge meets curiosity. Join us in the pursuit of learning, sharing, and discovering together.
    </div>
</div>